
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-dark: #2d3436;
  --color-white: #fff;
  --color-gray: #dcdde1;
  --color-gray-middle: #718093;
  --color-blue: #1e213a;
  --color-light-blue: #3c47e9;
  --color-dark-blue: #100e1d;
  --color-yellow: #f39c12;
  --color-green: #27ae60;
  --color-red: #c0392b;

  --menu-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), 0 1px 0 0 #E5E5E5;
  --item-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5), 0 1px 0 0 #E5E5E5;
  
  --background: var(--color-white);
  --color: var(--color-dark);

  --family: 'Raleway', sans-serif;
  --transition: .3s ease-in-out;

  --weight-light: 400;
  --weight-normal: 500;
  --weight-medium: 700;
  --weight-bold: 900;

  --font-xxs: .7rem;
  --font-xs: .85rem;
  --font-s: .925rem;
  --font: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 3rem;
  --font-ll: 7rem;
}
/* 
  GENERAL 
*/
.body {
  font-family: var(--family);
  color: var(--color-white);
  background: var(--color-dark-blue);
  overflow-x: hidden;
}
img, 
.img {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
}
.link {
  text-decoration: none;
}
.span {
  display: inline-block;
}
.input {
  border: 1px solid transparent;
  outline: none;
}
.section {
  width: 100%;
  position: relative;
}
.container {
  width: 100%;
}
ul,
ol, 
.list {
  list-style: none;
}
.list__item {
  display: inline-block;
}


/* 
  HEADER 
*/
.header {
  position: relative;
}


/* 
  LOADING
*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: var(--color-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.loader--active {
  display: flex;
}
.span--loader {
  color: var(--color-white);
}
.dotContainer {
  display: flex;
  align-items: baseline;
}
.span--loader-title {
  font-size: var(--font-xl);
}
.span--loader-dots {
  --size: .25rem;

  width: var(--size);
  height: var(--size);
  margin: 0 .5rem;
  background: var(--color-white);
  border-radius: 50%;
  animation: showDot 1s linear infinite;
}
.span--loader-dots:nth-of-type(1) {
  animation-delay: 0s;
}
.span--loader-dots:nth-of-type(2) {
  animation-delay: .4s;
}
.span--loader-dots:nth-of-type(3) {
  animation-delay: .8s;
}
@keyframes showDot {
  0% { opacity: 1; }
  25% { opacity: .75; }
  50% { opacity: .5; }
  75% { opacity: .25; }
}

/* 
  MAIN
*/

.main {
  display: grid;
}
.section__aside {
  grid-area: aside;
  padding: 2rem;
}
.section__main {
  grid-area: main;
  padding: 2rem;
}

.section__tempButtons,
.section__forecastDays,
.section__highlistCard {
  padding: 0 2rem;
}

@media screen and (max-width: 576px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'aside'
      'main';
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .main {
    grid-template-areas:
      'aside'
      'main';
  }
}
@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 350px 1fr;
    grid-template-areas:
      'aside main';
  }
}
@media screen and (min-width: 896px) {
  .main {
    grid-template-columns: 400px 1fr;
    grid-template-areas:
      'aside main';
  }
}
@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: 450px 1fr;
    grid-template-areas:
      'aside main';
  }
}

/* 
  ASIDE 
*/
.section__aside {
  background: var(--color-blue);
}


/* SECTION NAV */
.section__nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  background: var(--color-blue);
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform .3s ease;
}
.active__nav {
  transform: translateX(0);
  transition: transform .3s ease; 
}

/* BUTTON CLOSE */
.btn--close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 1rem .5rem;
}
.btn--close:hover,
.btn--close:focus {
  border-color: var(--color-white);
}
.span--line,
.span--line::before {
  width: 25px;
  height: 3px;
  background: var(--color-white);
}
.span--line {
  position: relative;
  transform: rotate(-45deg);
}
.span--line::before {
  content: "";
  display: block;
  transform: rotate(90deg);
}
.span--icon {
  color: var(--color-gray-middle);
}
.form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__item {
  display: flex;
  align-items: center;
}
.form__item--search {
  border: 1px solid var(--color-gray-middle);
  padding: .5rem;
  flex: 4;
}
.form__item--search:focus-within {
  border-color: var(--color-white);
}
.search-box {
  position: relative;
}
.span--icon--search {
  margin-right: .5rem;
}
.input-search {
  width: 100%;
  background: transparent;
  padding: .5rem;
  color: var(--color-gray);
  font-size: 1rem;
}
.input-search:focus,
.input-search:valid,
.input-search:invalid, 
.input-search:required,
.input-search:required:invalid {
  box-shadow: none;
}
.label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.span--label {
  position: absolute;
  bottom: .5rem;
  left: 0;
  background: var(--color-blue);
  color: var(--color-gray-middle);
  transition: all var(--transition);
}
.input-search:focus + .label .span--label,
.input-search:valid + .label .span--label {
  transform: translateY(-190%);
  font-size: var(--font-xs);
}
.input-validation {
  opacity: 0;
  visibility: hidden;
  margin-top: .2rem;
  color: var(--color-red);
  font-size: var(--font-xs);
  transition: all var(--transition);
}
.validation-false {
  visibility: visible;
  opacity: 1;
}

/* BUTTON SUBMIT SEARCH */
.btn--submit {
  flex: 1;
  color: var(--color-white);
  background: var(--color-light-blue);
  padding: .8rem 1rem;
  margin-left: 1rem;
  font-size: var(--font);
  transition: all var(--transition);
}
.btn--submit:hover, 
.btn--submit:focus {
  border-color: var(--color-white);
}

/* LOCATION HISTORY */
.location__header {
  margin-top: 3rem;
  font-size: var(--font);
  color: var(--color-white);
}
.location__list {
  list-style: none;
  margin-top: 1rem;
}
.list-max {
  max-height: 600px;
  overflow-y: scroll;
}
.list-li {
  display: block;
  margin: 1rem 0;
}
.btn--list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 1rem .5rem;
  font-size: var(--font-s);
  color: var(--color-white);
}
.span--city {
  text-transform: capitalize;
  pointer-events: none;
}
.span--icon--arrow.fas.fa-angle-right {
  opacity: 0;
  transition: all .1s ease;
  pointer-events: none;
}
.btn--list:hover,
.btn--list:focus {
  border-color: var(--color-gray-middle);
}
.btn--list:hover .span--icon--arrow,
.btn--list:focus .span--icon--arrow {
  opacity: 1;
}


/* 
  MAIN ASIDE 
*/

/* LOCATION BUTTONS */
.location__buttons {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.btn--search,
.btn--geo {
  color: var(--color-white);
  background: var(--color-gray-middle);
  transition: all var(--transition);
}
.btn--search {
  font-size: var(--font);
  padding: .5rem 1rem;
}
.btn--search:hover,
.btn--search:focus {
  border-color: var(--color-white);
}
.btn--geo {
  --size: 40px;
  position: relative;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  z-index: 5;
}
.btn--geo:focus,
.btn--geo:hover {
  border-color: var(--color-white)
}
.btn--geo::before {
  content: "GPS LOCATION";
  position: absolute;
  bottom: -100%;
  left: -30%;
  z-index: 2;
  color: var(--color-white);
  font-size: var(--font-xxs);
  font-weight: var(--weight-light);
  background: var(--color-gray-middle);
  padding: .3rem;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition);
}
.btn--geo::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: -20%;
  border: .5rem solid transparent;
  border-bottom-color: var(--color-gray-middle);
  visibility: hidden;
  opacity: 0;
  transition: all var(--transition);
}
.btn--geo:hover::before,
.btn--geo:focus::before,
.btn--geo:hover::after,
.btn--geo:focus::after {
  visibility: visible;
  opacity: 1;
}


/* LOCATION DESCRIPTION */
.location__information {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.location__image {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.location__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/Cloud-background.png") center / cover no-repeat;
  opacity: .2;
}
.img--location {
  width: 150px;
  height: auto;
  z-index: 5;
  pointer-events: none;
}
.location__temp {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.temp-header {
  font-size: var(--font-ll);
}
.location__weather, 
.location__date {
  margin-top: 5rem;
}
.location__marker {
  margin-top: 3rem;
  display: flex;
  align-items: baseline;
}
.span-tempdegree,
.location__weather,
.location__date,
.location__marker {
  color: var(--color-gray-middle);
}
.span--tempdegree {
  font-size: var(--font-l);
  margin-right: 1rem;
}
.weather-header {
  font-size: 2rem;
  text-transform: capitalize;
}
.span--dot {
  /* alt 0183 */
  margin: 0 .5rem;
}

/* SECTION TEMPERATURE BUTTONS */
.section__tempButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.btn__temp {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-left: 1rem;
  background: var(--color-blue);
  color: var(--color-white);
}
.btn__temp:focus,
.btn__temp:hover {
  border-color: var(--color-white);
}
.btn__temp-active {
  color: var(--color-blue);
  background: var(--color-white);
}
.span--unit {
  text-transform: uppercase;
  font-size: var(--font);
  pointer-events: none;
}


/* SECTION FORECAST */
.section__forecastDays {
  margin-bottom: 2rem;
}
.list__days {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.list__days > .list__item {
  background: var(--color-blue);
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.forecast__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.forecast__item--image {
  --size: 70px;
  width: var(--size);
  height: var(--size);
  margin: 1rem 0;
}
.span--forecastday {
  font-size: var(--font-m);
  font-weight: var(--weight-normal);
  color: var(--color-white);
  text-transform: capitalize;
  text-align: center;
  pointer-events: none;
}
.img--forecast {
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  pointer-events: none;
}
.forecast__item--temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.span--maxtemp {
  font-size: var(--font-m);
  color: var(--color-white);
}
.span--mintemp {
  font-size: var(--font-m);
  color: var(--color-gray-middle);
}

/* FORECAST HIGHTLIGHTS */
.section__highlistheader {
  margin-bottom: 2rem;
}

.hightlights__title {
  font-size: var(--font-xl);
  font-weight: var(--weight-medium);
  text-transform: capitalize;
  color: var(--color-white);
  margin-bottom: 1rem;
}

/* DAYS BUTTONS */
.section__highlistButtons {
  margin-bottom: 1.5rem;
}

.list__highlistButtons {
  display: grid;
  gap: .2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.list__highlistButtons > .list__item {
  width: 100%;
  height: 100%;
  background: var(--color-blue);
}
.btn__day {
  width: 100%;
  height: 100%;
  padding: .7rem 0;
  text-align: center;
  border-color: var(--color-dark-blue);
}
.btn__day:hover,
.btn__day:focus {
  border-color: var(--color-white);
}
.btn__day.btn__day-active {
  border-color: var(--color-white);
}
.span__btn-day {
  color: var(--color-white);
  font-size: var(--font);
  pointer-events: none;
}

/* SECTION HIGHLIST ITEMS */
.list__highlistItems {
  display: grid;
  gap: 2rem;
}
.list__highlistItems > .list__item {
  background: var(--color-blue);
  padding: 2rem;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .list__highlistItems {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  .list__highlistItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 895px) {
  .list__highlistItems {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (min-width: 896px) and (max-width: 1023px)  {
  .list__highlistItems {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .list__highlistItems {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.hightlights__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item__title {
  font-size: var(--font);
  color: var(--color-white);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.item__detail {
  font-size: var(--font-xl);
}
.span--detailval {
  font-size: var(--font-l);
}
.item--compass {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.span--compass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-icons.icon__compass {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 35px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  color: var(--color-white);
  background: var(--color-gray-middle);
  margin-right: .5rem;
}
.item__percent {
  width: 70%;
  margin: 1rem auto .5rem;
  display: flex;
  justify-content: space-between;
}
.span--percent {
  font-size: var(--font);
  color: var(--color-gray-middle);
}
.item__percent--bar {
  width: 70%;
  margin: 0 auto;
  height: 8px;
  position: relative;
  background: var(--color-gray-middle);
  border-radius: 3px;
}
.span--percent--bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background: var(--color-yellow);
}

/* 
  FOOTER 
*/
.section__footer{
  display: flex;
  justify-content: center;
  margin: 2rem auto 1rem;
}
.span--footer,
.link--footer {
  color: var(--color-white);
  font-size: var(--font-xs);
  margin: 0 .3rem;
}